@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
  margin: 0;
  background: linear-gradient(15deg, rgb(6, 101, 224), #06bcf3);
  background: -webkit-linear-gradient(115deg, rgb(4, 58, 238), #0037eb);
}

div {
  text-align: center;
  margin-top: 100px;
}


/* ----------- Button 2 --------------- */
div:nth-child(1) button {
  width: 250px;
  height: 75px;
  background: whitesmoke;
  border: none;
  border-radius: 0px;
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  font-weight: 400;
  line-height: 2.6em;
  transition: all 0.5s;
}

div:nth-child(1) button:hover {
  width: 100%;
  background: rgb(247, 247, 247);
  color: rgb(255, 4, 4);
}

/* ----------- Button 2 --------------- */
div:nth-child(2) button {
  width: 250px;
  height: 75px;
  background: whitesmoke;
  border: none;
  border-radius: 0px;
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  font-weight: 400;
  line-height: 2.6em;
  transition: all 0.5s;
}

div:nth-child(2) button:hover {
  width: 100%;
  background: rgb(247, 247, 247);
  color: rgb(255, 4, 4);
}

/* ----------- Button 3 --------------- */
div:nth-child(3) button {
  width: 250px;
  height: 75px;
  background: whitesmoke;
  border: none;
  border-radius: 0px;
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  font-weight: 400;
  line-height: 2.6em;
  transition: all 0.5s;
}

div:nth-child(3) button:hover {
  width: 100%;
  background: rgb(247, 247, 247);
  color: rgb(255, 4, 4);
}

@keyframes spanShiftRight {
  0% {
    top: 0px;
  }
  50% {
    top: 0px;
  }
  60% {
    top: -3px;
  }
  70% {
    top: 0px;
  }
  80% {
    top: -2px;
  }
  90% {
    top: 0px;
  }
  100% {
    top: 0px;
  }
